<div class="inner">
    <header class="major"> 
        <h1> {{page.title}} </h1> 
    </header>
    <p>
        <dl>
            {% assign categories = site.data.portfolio.works | map: "category" | uniq %}
            {% for element in categories %}
                <dt>
                    <h3 style="padding-top:20px; margin-bottom:5px; margin-top:0px">{{element}}</h3>
                </dt>
                {% for page in site.data.portfolio.works %}
                    {% if page.category == element %}
                        <dd>
                            <a href="#{{page.title}}"> {{page.title}} </a> 
                            <span style="color:rgb(150, 150, 150)"> ({{page.year}}, {{page.format}}) </span>
                        </dd>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </dl>
    </p>
    {% for page in site.data.portfolio.works %}
        {% include project.html %}
        </br>
        </br>
    {% endfor %}
</div>
