<div class="filter-bar">
    <div class="category-list">
      <div class="filter-option" data-type="categories" data-value="Performance">Performance</div>
      <div class="filter-option" data-type="categories" data-value="Generative image">Generative image</div>
      <div class="filter-option" data-type="categories" data-value="Transdisciplinary">Transdisciplinary</div>
      <div class="filter-option" data-type="categories" data-value="Installation">Installation</div>
      <div class="filter-option" data-type="categories" data-value="Animation">Animation</div>
      <div class="filter-option" data-type="categories" data-value="Game">Game</div>
      <div class="filter-option" data-type="categories" data-value="VR">VR</div>
      <!-- ... -->
    </div>
    <div class="tag-list">
      <div class="filter-option" data-type="tags" data-value="AI">AI</div>
      <div class="filter-option" data-type="tags" data-value="TouchDesigner">TouchDesigner</div>
      <div class="filter-option" data-type="tags" data-value="Propaganda">Propaganda</div>
      <div class="filter-option" data-type="tags" data-value="Team project">Team project</div>
      <div class="filter-option" data-type="tags" data-value="Dataviz">Dataviz</div>
      <div class="filter-option" data-type="tags" data-value="Sonification">Sonification</div>
      <div class="filter-option" data-type="tags" data-value="UX & applied & graphic">UX & applied & graphic</div>
      <!-- ... -->
    </div>
    <div class="year-list">
      <div class="filter-option" data-type="years" data-value="2019">2019</div>
      <div class="filter-option" data-type="years" data-value="2020">2020</div>
      <div class="filter-option" data-type="years" data-value="2021">2021</div>
      <div class="filter-option" data-type="years" data-value="2022">2022</div>
      <div class="filter-option" data-type="years" data-value="2023">2023</div>
      <!-- ... -->
    </div>
</div>
