<div class="image-gallery">
    {% for file in site.static_files %}
    {% assign postfix = include.subfolder | prepend: "/" %}
    {% if file.path contains include.imagefolder and file.path contains postfix %}
    {% if file.extname == '.png' or file.extname == '.jpg or file.extname == '.jpeg' or file.extname == '.PNG' or file.extname == '.JPEG' or file.extname == '.JPG' %}

    <div class="box">
        <a href="{{ file.path }}" target="_blank">
            <img src="{{ file.path }}" alt="{{ file.name }}" class="img-gallery" />
        </a>

        {% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace:
        file.extname,"" %}

    </div>

    {% endif %}
    {% endif %}
    {% endfor %}
</div>