{% assign tiles = "" | split: "" %}

{% if "posts" == site.tiles-source or "both" == site.tiles-source %}
  {% assign post_tiles = site.posts | where_exp: "item", "item.show_tile == true and item.lang != 'de'" %}
  {% assign tiles = tiles | concat: post_tiles %}
{% endif %}

{% if "pages" == site.tiles-source or "both" == site.tiles-source %}
  {% assign page_tiles = site.html_pages | where_exp: "item", "item.show_tile == true" %}
  {% assign tiles = tiles | concat: page_tiles %}
{% endif %}

{% assign tiles = tiles | sort: "position" %}

<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  {% assign remainder = forloop.index | modulo: 2 %}

  <article{% if tile.image %} style="background-image: url('{{ tile.image | relative_url }}');"{% endif %}>
    {% if tile.image %}
    <span class="image" aria-hidden="true">
      <img src="{{ tile.image | relative_url }}" alt="">
    </span>
    {% endif %}

    {% if remainder == 1 %}
    <header class="major">
      <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
    {% else %}
    <header class="major">
      <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
    {% endif %}

  </article>
  {% endfor %}
</section>
